ul{
        
    width: 250px;
    height: 20px;
    margin: auto;
}
li{
    width: 50px;
    height: 7px;
    background-color: rgba(179, 174, 174, 0.747);             

}
li:hover{
    width: 50px;
    height: 10px;
    background-color: #5CA1F1;
}
.color{
    background-color: #5CA1F1;
}